header  {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

nav {
    width: 29%;
    height: 300px;
    float: left;
}

section {
    /*border: 1px solid black;*/
    width: 70%;
    height: 100%;
    float: right;
    overflow: auto;
}

footer {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    float: left;
}

article {
    margin: 20px;
}

/*ul {
    width: 100%;
}*/

li {
    list-style-type: none;
    font-size: 30px;
    background-color: yellow;
    border: 1px solid gray;
    width: 100%;
    margin: 0;
    padding: 0;
}

.div1 {
    height: 100%;
    width: 30%;
    background-color: red;
    float: left;
}

.div2 {
    height: 50%;
    width: 30%;
    background-color: blue;
    float: left;
}

.content {
    height: 500px;
}